.footer {
    background: $dark-blue;
    height: 58px;
    color: #888;
}

.footer p {
    padding-top: $s-size;
    font-style: italic;
    @media (max-width: $desktop-breakpoint) {
        font-size: small;
    }
}
