.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 0.1px dotted $grey;
    border-radius: 5px;
    width: 80%;
    padding: $s-size;

    > * {
        margin-bottom: $m-size;
    }

}

.form__title {
    font-weight: 300;
    text-align: center;
    margin: $l-size 0 0 0;
}

.form--wrapper {
    display: flex;
    justify-content: center;
}

.form__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
}